# 로그 파일 무시
logs/**/*
!logs/
!logs/logging/
!logs/mlflow/
!logs/tensorboard/
# 체크포인트 및 결과 무시

checkpoint.pt
checkpoint/
outputs/**/*
!outputs/
!outputs/experiments/
!outputs/hparam/
!outputs/inference_results/

# 환경 변수 파일 무시
.env

# PyTorch / Python 관련 캐시 무시
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# 기타 무시할 항목
temp/
.DS_Store

.bashrc